html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; /* Ensure full height */
}

.background {
  position: fixed;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border: none; /* Remove border */
  z-index: -1; /* Send to back */
}

/* Content on top of the background */
.Router {
  position: relative; /* Ensure content appears on top of the background */
  z-index: 1;  /* Keep the content above the background */
}